.slider {
	width: 95%;
	margin:auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.buscadorR{
	background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 10px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #c5c5c5; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
	position:relative;
	left: -3%;
	
	
}
