* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;/*#e9ecef*/
}

header {
  background-color: #C7C2BD;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid 3px #ffc400;
  font-size: 14px;
}

header{
  padding-top: 7%;
}

nav ul {
  list-style-type: none;
  display: flex;

}

nav li {
  margin-right: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

nav li:hover {
  color: red;
  cursor: pointer;
  border-bottom: 3px solid #ffd754;
}

nav a:hover {
  color: red;
  cursor: pointer;
  border-bottom: 3px solid #ffd754;

}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

section {
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-basis: 32%;
  margin-bottom: 20px;
  padding: 20px;
  transition: .5s;
}

section:hover {
  background-color: #727272;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-basis: 32%;
  margin-bottom: 20px;
  padding: 20px;
  color: #ccc;
  transition: .5s;
}

section h2 {
  margin-bottom: 10px;
}

footer {
  /*background-color: #C7C2BD;*/
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(199,194,189,1) 51%, rgba(0,0,0,1) 100%);
  color: black;
  padding: 20px;
  text-align: center;
  border-top: solid 3px #ffc400;
  bottom: 0;
  width: 100%;
}

figure{
  
  margin-top: 10px;
}

.iconosRedes{
  height: 40px;
  margin-right: 20px;
}

.formasPago{
  display: flex;
  justify-content: center;
  
}

.iconosFormasdePago{
  height: 59px;
  margin-right: 20px;
  max-width: 100%;
}



@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  section {
    flex-basis: 100%;
  }

  figure{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
  }
  
  .iconosRedes{
    max-width: 100%;
    margin-right: 20px;
  }
  
  .formasPago{
    position: relative;
    
    
  }
  
  .iconosFormasdePago{
    height: 59px;
    margin-right: 20px;
    max-width: 100%;
  }


}

/*FORMULARIO*/
input{
  background-color: #fbfbfb; 
  width: 360px; 
  height: 35px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ffc400; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}
textarea{
  background-color: #fbfbfb; 
  width: 100%; 
  height: 80px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ffc400; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}
.buttonc{
  height: 45px; 
  background-color: #ffc400; 
  border-color: #ffc400; 
  border-style: solid; 
  border-radius: 10px;  
  width: 100%;   
  cursor: pointer;
  color: #fff;
  height: 30px;
  background: rgba(162, 1, 1, 0.3);
  border-radius: 3px;
  transition: all 1s ease;
}

/*---------------------*/

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 100%;
  font-weight: 100;
  color: 
white;
  backdrop-filter: blur(8px) brightness(80%);
  opacity: 1%;
}
.text-overlayb {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 100%;
  font-weight: 100;
  color: 
white;
  backdrop-filter: blur(8px) brightness(80%);
}
.text-overlayc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 100%;
  font-weight: 100;
  color: 
white;
  backdrop-filter: blur(8px) brightness(80%);
}

.text-overlay:hover {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 100%;
  font-weight: 100;
  color: 
white;
  backdrop-filter: blur(8px) brightness(80%);
  visibility: visible;
  opacity: 100%;}
  p{
    height:100%;
  }

.mfly{
    visibility: hidden;
}
.manu{
    visibility: hidden;
}

.mfly2{
    display: flex;
    position: fixed;
    top: 0%;
    left: 0;
    height: 6%;
    width: 100%;
    visibility: visible;
    flex-basis: 100%;
    z-index: 200;
}
.mflyb{
    display: flex;
    position: fixed;
    background-color:black;
    top: 6%;
    left: 0;
    height: 4%;
    width: 100%;
    visibility: visible;
    flex-basis: 100%;
    z-index: 100;
}
.manu2{
    border-bottom: solid 1px #F2CA52;
    visibility: visible;
    flex-basis: 21%;
    width: 21%;
    height: 100%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px){
  .mfly2{
    visibility: hidden;
}
.manu2{
    visibility: hidden;
}
    .mfly{
    position: fixed;
    bottom: 0%;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 10;
    visibility: visible;
    flex-basis: 100%;
}
.manu{
    border-top: solid 1px #F2CA52;
    display:inline-block;
    margin: 0 -1%;
    visibility: visible;
    flex-basis: 25%;
    width: 26%;
    height: 100%;
    padding: 0;
}
footer{
  padding-bottom: 20%;
}

}/*CIERRE RESPOSIVE*/
button{
    height: 100%; 
    background-color: black;  
    width: 110%;
    cursor: pointer;
    color: #F2CA52;
    border-color: black;
    border-style: solid;
}
button:hover{
    height: 100%; 
    background-color: #F2CA52;  
    width: 110%;
    cursor: pointer;
    color: black;
    border-color: black;
    border-style: solid;
    transition: 0.2s;
}
.manu:hover{
    border-top: solid 1px #F2CA52;
    display:inline-block;
    margin: 0 -1%;
    visibility: visible;
    flex-basis: 25%;
    width: 26%;
    height: 100%;
    padding: 0;
}
button:active{
    height: 100%; 
    background-color: white;  
    width: 110%;
    cursor: pointer;
    color: #F2CA52;
    border-color: black;
    border-style: solid;
    transition: 0.1s;
}
.buscador{
    background-color: #fbfbfb; 
    width: 30%; 
    height: 92%; 
    border-radius: 10px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #c5c5c5; 
    top: -22%;
    left: 70%;
    position: absolute;
}

.openModal { 
  margin: 1em auto; 
  display: block; 
  width: 200px; 
  background: #ccc; 
  text-align: center; 
  text-decoration: none; 
  color: black; 
  padding: 10px; 
  text-shadow: 0 1px 0 #fff; 
  border: 1px solid rgba(0,0,0,0.1); 
  box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}