* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
  }
  
  header {
    background-color: #C7C2BD;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 3px #ffc400;
    font-size:14px;
  }
  